# Homework 2

In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [122]:
# specify the URL
URL = "https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8"

# read the HTML, get rid of the "," sign in the original sheet
data = pd.read_html(URL, match="Регіон", thousands=".", decimal=",")

# select the desired sheet and convert it to DataFrame
df = pd.DataFrame(data[0])

# display the converted sheet
df.head(10)

              Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0               Крим  23.0  20.6  16.0  13.0   7.3  12.6     —     —
1          Вінницька  22.4  19.2  14.2  12.4   8.4  11.2  10.9   7.6
2          Волинська  24.7  25.0  17.9  15.3  11.2  14.8  14.1  10.1
3   Дніпропетровська  20.4  20.4  15.1  12.3   7.1  11.2  11.1   7.1
4           Донецька  27.1  21.4  14.0  10.9   6.1   9.8   8.2     —
5        Житомирська  26.1  22.3  15.9  12.9   8.9  12.2  12.0   7.9
6       Закарпатська  31.4  27.3  20.7  16.8  11.5  15.1  14.6  10.4
7         Запорізька  21.9  19.7  15.0  12.4   7.1  10.6  10.6   6.8
8  Івано-Франківська  24.3  24.8  18.2  15.5  10.3  12.4  12.2   8.8
9           Київська  20.4  18.9  15.6  12.3   7.3  12.2  12.1   8.0

In [123]:
# check the shape of the sheet
df.shape  # 28 rows by 9 columns

(28, 9)

In [124]:
# change the "—" sign to "NaN"
df = df.replace("—", np.nan)
df.head()

             Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0              Крим  23.0  20.6  16.0  13.0   7.3  12.6   NaN   NaN
1         Вінницька  22.4  19.2  14.2  12.4   8.4  11.2  10.9   7.6
2         Волинська  24.7  25.0  17.9  15.3  11.2  14.8  14.1  10.1
3  Дніпропетровська  20.4  20.4  15.1  12.3   7.1  11.2  11.1   7.1
4          Донецька  27.1  21.4  14.0  10.9   6.1   9.8   8.2   NaN