# Homework 4
<hr>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Task 1
<hr>

### Objective:
Build an attribute - number of rides dependency plot. This task requires building 12 plots, each of which has to show dependency of a particular feature from the "cnt" feature.

In [13]:
# read the dataset
filepath = r"bikes_rent.csv"

df = pd.read_csv(filepath_or_buffer=filepath, sep=",")

df.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed(mph),windspeed(ms),cnt
0,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,4.805490,985
1,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,7.443949,801
2,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,7.437060,1349
3,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,4.800998,1562
4,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,5.597810,1600

#### Dataset description:
* season: 1 — spring, 2 — summer, 3 — autumn, 4 — winter
* yr: 0 — 2011, 1 — 2012
* mnth: 1 to 12
* holiday: 0 — no holiday, 1 — holiday
* weekday: 0 to 6
* workingday: 0 — non-work day, 1 — workday
* weathersit: weather estimation rate ranging from 1 (a clear, sunny day) to 4 (heavy rain, fog)
* temp: temperature in Celsius
* atemp: how temperature feels (in Celsius)
* hum: humidity
* windspeed(mph): wind speed (miles per hour)
* windspeed(ms): wind speed (meters per second)
* cnt: the number of rented bikes (it's a target feature that we will predict)

In [14]:
# check if the dataset has NAs to drop them if any
df.isna().sum()

season            0
yr                0
mnth              0
holiday           0
weekday           0
workingday        0
weathersit        0
temp              0
atemp             0
hum               0
windspeed(mph)    0
windspeed(ms)     0
cnt               0
dtype: int64

In [15]:
# check dataset's descriptive stats
df.describe()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed(mph),windspeed(ms),cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,20.310776,23.717699,62.789406,12.762576,5.705220,4504.348837
std,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,7.505091,8.148059,14.242910,5.192357,2.321125,1937.211452
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,0.670650,22.000000
25%,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,13.820424,16.892125,52.000000,9.041650,4.041864,3152.000000
50%,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,20.431653,24.336650,62.666700,12.125325,5.420351,4548.000000
75%,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,26.872076,30.430100,73.020850,15.625371,6.984967,5956.000000
max,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,35.328347,42.044800,97.250000,34.000021,15.198937,8714.000000