# The Pandas Library

Pandas is a powerful framework for data manipulation and analysis. Unlike Numpy, Pandas' Series and DataFrames can store any types of data.
Let's start by importing the Pandas library first, and then take a look at the Series.

In [63]:
import numpy as np
import pandas as pd

## Series

In [2]:
# a Series is basically a 1-dimensional array (a column). Let's create one.
ages = pd.Series([1947, 1986, 2013, 2022, 2024])

print(ages)

0    1947
1    1986
2    2013
3    2022
4    2024
dtype: int64

In [3]:
# we can assign names and data types
ages = pd.Series(data=[1947, 1947, 1986, 1986, 2013, 2022, 2024],
                 index=["Father", "Mother", "Me", "Wife", "Daughter", "War", "Nowadays"],
                 name="Important years",
                 dtype=np.int64)

print(ages)

Father      1947
Mother      1947
Me          1986
Wife        1986
Daughter    2013
War         2022
Nowadays    2024
Name: Important years, dtype: int64

### Accessing elements

In [4]:
# just like with dictionary, we can access a specific key (index) and value (data)
print(ages.iloc[2])  # to access by item location
print(ages["Daughter"])  # to access by item key

1986
2013

In [5]:
# or we can get several items from the Series; the order doesn't matter
print(ages.iloc[[2, -1]])  # by item location
print()

print(ages[["Nowadays", "Daughter"]])  # by key name

Me          1986
Nowadays    2024
Name: Important years, dtype: int64

Nowadays    2024
Daughter    2013
Name: Important years, dtype: int64

In [6]:
# we can also access Series items if we use their key names as methods
# important note: in this case, the key must not contain spaces or special symbols
print(ages.Daughter)
print(ages.Wife)
print(ages.Me)

2013
1986
1986

### Slicing

In [7]:
# Series slicing is also possible
print(ages.iloc[1:4])  # start:stop (not inclusive)
print()

print(ages.iloc[:6:2])  # start:stop:step
print()

print(ages.iloc[::-1])  # reversed Series

Mother    1947
Me        1986
Wife      1986
Name: Important years, dtype: int64

Father      1947
Me          1986
Daughter    2013
Name: Important years, dtype: int64

Nowadays    2024
War         2022
Daughter    2013
Wife        1986
Me          1986
Mother      1947
Father      1947
Name: Important years, dtype: int64

In [8]:
# and it's okay to slice by key
print(ages["Father":"War"])  # start:stop (inclusive)
print()

print(ages["Father":"War":2])  # start:stop:step

Father      1947
Mother      1947
Me          1986
Wife        1986
Daughter    2013
War         2022
Name: Important years, dtype: int64

Father      1947
Me          1986
Daughter    2013
Name: Important years, dtype: int64

### Boolean logic

In [9]:
# Series also supports Boolean logic
print(ages.Me > 2013)
print(ages.Me == 1986)
print()

print(ages == 1986)
print()

print("Daughter" in ages)
print("ZSU" in ages)

False
True

Father      False
Mother      False
Me           True
Wife         True
Daughter    False
War         False
Nowadays    False
Name: Important years, dtype: bool

True
False

### Sorting

In [10]:
# we can also sort the Series
ages = ages.sort_index()  # by key (name)
print(ages)
print()

ages = ages.sort_values()  # by value
print(ages)

Daughter    2013
Father      1947
Me          1986
Mother      1947
Nowadays    2024
War         2022
Wife        1986
Name: Important years, dtype: int64

Father      1947
Mother      1947
Me          1986
Wife        1986
Daughter    2013
War         2022
Nowadays    2024
Name: Important years, dtype: int64

In [11]:
# or we can update the Series object without re-assigning it
ages.sort_index(inplace=True)  # by using the inplace parameter
print(ages)

Daughter    2013
Father      1947
Me          1986
Mother      1947
Nowadays    2024
War         2022
Wife        1986
Name: Important years, dtype: int64

In [12]:
# and, of course, we can do ascending and descending sorting
ages.sort_values(inplace=True, ascending=True)  # from min to max
print(ages)
print()

ages.sort_values(inplace=True, ascending=False)  # from max to min
print(ages)

Father      1947
Mother      1947
Me          1986
Wife        1986
Daughter    2013
War         2022
Nowadays    2024
Name: Important years, dtype: int64

Nowadays    2024
War         2022
Daughter    2013
Me          1986
Wife        1986
Father      1947
Mother      1947
Name: Important years, dtype: int64

### NaN and missing values

In [13]:
# let's create a new Series object, using a dictionary this time
# here's our dictionary
ages_dict = {"Mother": 1947, "Wife": 1986, "Daughter": 2013, "War": 2022}

# and we use it as our data
ages = pd.Series(data=ages_dict,
                 index=["Mother", "Father", "Wife", "Me", "Daughter", "War", "Nowadays"],  # but here are some keys that were not specified in the dictionary
                 dtype=np.float64)  # and let's also use float64 data type for experimenting

In [14]:
# let's check our index names (keys)
print(ages.index)

Index(['Mother', 'Father', 'Wife', 'Me', 'Daughter', 'War', 'Nowadays'], dtype='object')

In [15]:
# now let's check our Series
print(ages)

Mother      1947.0
Father         NaN
Wife        1986.0
Me             NaN
Daughter    2013.0
War         2022.0
Nowadays       NaN
dtype: float64

In [16]:
# we can check if our Series has any NaN-type items
print(ages.hasnans)

True

In [17]:
# and we can also check how many NaN-type items we have by using the sum() function together with isna()
print(sum(ages.isna()))

3

In [18]:
# although our Series is a float64-type object, it also contains NaN data types that were not provided in the dictionary; let's replace them with zeros
ages.fillna(0, inplace=True)

print(ages)

Mother      1947.0
Father         0.0
Wife        1986.0
Me             0.0
Daughter    2013.0
War         2022.0
Nowadays       0.0
dtype: float64

In [19]:
# and we can also check our Series for unique values
ages.value_counts()

0.0       3
1947.0    1
1986.0    1
2013.0    1
2022.0    1
Name: count, dtype: int64

## DataFrame

A DataFrame is a set of Series objects, where each Series object represents a separate column. Let's create a new DataFrame object.

### Creating DataFrames from lists

In [20]:
# let's say we have several lists of the same length  
names = ["Gregory", "Joseph", "Alex", "Sergey", "Jenny", "Sveta"]
companies = ["NATEC", "Achievion", "Achievion", "NATEC", "HomeCare", "HomeCare"]
emails = ["gregory@example.com", "joseph@gmail.com", "alex@outlook.com", "sergey@example.com", "jenny@gmail.com", "sveta@outlook.com"]

# we can create an empty DF object
df = pd.DataFrame()

# and check it out
print(df)

Empty DataFrame
Columns: []
Index: []

In [21]:
# now, let's add our lists to our DF
df["name"] = names
df["email"] = emails
df["company"] = companies

print(df)

      name                email    company
0  Gregory  gregory@example.com      NATEC
1   Joseph     joseph@gmail.com  Achievion
2     Alex     alex@outlook.com  Achievion
3   Sergey   sergey@example.com      NATEC
4    Jenny      jenny@gmail.com   HomeCare
5    Sveta    sveta@outlook.com   HomeCare

### Creating DataFrames from dictionaries

In [22]:
# now, let's create a DF from scratch but using dictionaries this time
names = {"names": ["Gregory", "Joseph", "Alex", "Sergey", "Jenny", "Sveta"]}
companies = {"companies": ["NATEC", "Achievion", "Achievion", "NATEC", "HomeCare", "HomeCare"]}
emails = {"emails": ["gregory@example.com", "joseph@gmail.com", "alex@outlook.com", "sergey@example.com", "jenny@gmail.com", "sveta@outlook.com"]}

# create an empty DF
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [23]:
# let's add our dictionaries
df["name"] = names["names"]
df["company"] = companies["companies"]
df["email"] = emails["emails"]

# and check the result
print(df)

      name    company                email
0  Gregory      NATEC  gregory@example.com
1   Joseph  Achievion     joseph@gmail.com
2     Alex  Achievion     alex@outlook.com
3   Sergey      NATEC   sergey@example.com
4    Jenny   HomeCare      jenny@gmail.com
5    Sveta   HomeCare    sveta@outlook.com

### Creating DataFrames from Series objects

In [24]:
# finally, let's create a DF using Series
names = pd.Series(data=["Gregory", "Joseph", "Alex", "Sergey", "Jenny", "Sveta"])
emails = pd.Series(data=["gregory@example.com", "joseph@gmail.com", "alex@outlook.com", "sergey@example.com", "jenny@gmail.com", "sveta@outlook.com"])
companies = pd.Series(data=["NATEC", "Achievion", "Achievion", "NATEC", "HomeCare", "HomeCare"])

# an empty DF
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [25]:
# and let's add our Series objects
df["name"] = names
df["email"] = emails
df["company"] = companies

# check the result
print(df)

      name                email    company
0  Gregory  gregory@example.com      NATEC
1   Joseph     joseph@gmail.com  Achievion
2     Alex     alex@outlook.com  Achievion
3   Sergey   sergey@example.com      NATEC
4    Jenny      jenny@gmail.com   HomeCare
5    Sveta    sveta@outlook.com   HomeCare

### Changing DataFrame indexing

In [26]:
# we can set our custom indexing; let's set it so that indexing starts with 11
starting_index = 11
ending_index = len(names) + starting_index

# apply new indexing to our DF
df.set_index(pd.Index(range(starting_index, ending_index)), inplace=True)

# and check the result
print(df)

       name                email    company
11  Gregory  gregory@example.com      NATEC
12   Joseph     joseph@gmail.com  Achievion
13     Alex     alex@outlook.com  Achievion
14   Sergey   sergey@example.com      NATEC
15    Jenny      jenny@gmail.com   HomeCare
16    Sveta    sveta@outlook.com   HomeCare

In [27]:
# and we can reset indexing
df = df.reset_index()
del df["index"]

print(df)

      name                email    company
0  Gregory  gregory@example.com      NATEC
1   Joseph     joseph@gmail.com  Achievion
2     Alex     alex@outlook.com  Achievion
3   Sergey   sergey@example.com      NATEC
4    Jenny      jenny@gmail.com   HomeCare
5    Sveta    sveta@outlook.com   HomeCare

### Working with DataFrame

In [28]:
# check the DF head
print(df.head())  # it prints 5 rows by default
print()

print(df.head(3))  # but we can see more or less if we want

      name                email    company
0  Gregory  gregory@example.com      NATEC
1   Joseph     joseph@gmail.com  Achievion
2     Alex     alex@outlook.com  Achievion
3   Sergey   sergey@example.com      NATEC
4    Jenny      jenny@gmail.com   HomeCare

      name                email    company
0  Gregory  gregory@example.com      NATEC
1   Joseph     joseph@gmail.com  Achievion
2     Alex     alex@outlook.com  Achievion

In [29]:
# get the description of our DF
print(df.describe())

           name                email company
count         6                    6       6
unique        6                    6       3
top     Gregory  gregory@example.com   NATEC
freq          1                    1       2

In [30]:
# access a specific column (Series object)
print(df["name"])

0    Gregory
1     Joseph
2       Alex
3     Sergey
4      Jenny
5      Sveta
Name: name, dtype: object

In [31]:
# access several columns
print(df[["email", "company"]])  # several keys must be provided as a list

                 email    company
0  gregory@example.com      NATEC
1     joseph@gmail.com  Achievion
2     alex@outlook.com  Achievion
3   sergey@example.com      NATEC
4      jenny@gmail.com   HomeCare
5    sveta@outlook.com   HomeCare

In [32]:
# get a specific row of our DF by its index
print(df.iloc[1])
print()

print(df.iloc[4])

name                 Joseph
email      joseph@gmail.com
company           Achievion
Name: 1, dtype: object

name                 Jenny
email      jenny@gmail.com
company           HomeCare
Name: 4, dtype: object

In [33]:
# get a DF slice
print(df[1:4])  # start:stop (not inclusive)

     name               email    company
1  Joseph    joseph@gmail.com  Achievion
2    Alex    alex@outlook.com  Achievion
3  Sergey  sergey@example.com      NATEC

In [34]:
# get information about each column in a DF
print(df.count())

name       6
email      6
company    6
dtype: int64

In [35]:
# get column names
print(df.columns)

Index(['name', 'email', 'company'], dtype='object')

### Reading and writing CSV files

In [37]:
# to quickly read a csv file, we can do the following
df = pd.read_csv("1_users.csv")

print(df)

            name                          email           phone  favorite
0  Allen Raymond      nulla.ante@vestibul.co.uk  (992) 914-3792     False
1    Chaim Lewis            dui.in@egetlacus.ca  (294) 840-6685     False
2   Kennedy Lane  mattis.Cras@nonenimMauris.net  (542) 451-7038      True
3     Wylie Pope              est@utquamvel.net  (692) 802-2949     False
4  Cyrus Jackson         nibh@semsempererat.com  (501) 472-5218      True

In [38]:
# but for precise reading, let's use parameters
df = pd.read_csv(filepath_or_buffer="1_users.csv",
                 sep=",",  # a separator; its comma by default
                 header=0,  # our indices; it uses numeric values starting from zero by default
                 skip_blank_lines=False,  # it's True by default
                 nrows=1000,  # how many rows we want to read; it reads all the rows by default
                 )

print(df)

            name                          email           phone  favorite
0  Allen Raymond      nulla.ante@vestibul.co.uk  (992) 914-3792     False
1    Chaim Lewis            dui.in@egetlacus.ca  (294) 840-6685     False
2   Kennedy Lane  mattis.Cras@nonenimMauris.net  (542) 451-7038      True
3     Wylie Pope              est@utquamvel.net  (692) 802-2949     False
4  Cyrus Jackson         nibh@semsempererat.com  (501) 472-5218      True

In [46]:
# to write our DataFrame to a csv file, we need to use the to_csv() method
df.to_csv(path_or_buf="1_users_write.csv",  # file name
          sep=",",  # separator
          header=True,  # if we need a header column; it's True by default
          index=False  # if we need indices; it's True by default
          )

The Pandas library can also work with Excel (in xls and xlsx file formats, but may require openpyxl package to install) and JSON file formats.

### Parsing data using the Pandas library

There are many Python parsing libraries available, but Pandas has its own. Let's see how it works.

In [73]:
# let's read the sheet called "Динаміка руху населення України з 1990 року (тисяч осіб)" from Wikipedia 
url = "https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8"
sheet_name = "Динаміка руху"

df = pd.read_html(io=url,  # the URL we want to parse
                  match=sheet_name,  # the sheet we want to parse
                  thousands=".",  # a separator which is used to separate thousands and greater numbers
                  decimal=","  # a separator which is used to separate 10-base numbers
                  )[0]  # read_html() returns a list, which contains our DataFrame with index 0, so we need to specify it


df.head(10)

    Рік  Природний  Міграційний  Загальний
0  1990       27.6         78.3      105.9
1  1991      -39.1        151.3      112.2
2  1992     -100.3        287.8      187.5
3  1993     -184.2         54.5     -129.7
4  1994     -243.1       -142.9     -386.0
5  1995     -299.7       -131.6     -431.3
6  1996     -309.5       -169.2     -478.7
7  1997     -311.6       -136.0     -447.6
8  1998     -300.7       -152.0     -452.7
9  1999     -350.0       -138.3     -488.3

In [74]:
# let's see our DF
print(df.describe())

        Природний  Міграційний   Загальний
count   32.000000    32.000000   32.000000
mean  -249.681250   -10.275000 -259.953125
std    104.700742    96.710906  181.769594
min   -442.200000  -169.200000 -521.700000
25%   -326.050000   -58.250000 -403.750000
50%   -262.050000    13.800000 -262.100000
75%   -183.900000    21.275000 -162.825000
max     27.600000   287.800000  187.500000